{% extends "crowdcam_app/base.html" %}

{% block content %}
    <div class="dashboard-header">
        <h2>My Events Dashboard</h2>
        <p>Here are all the events you have created.</p>
        <a href="{% url 'create_event' %}" class="button-primary">Create New Event</a>
    </div>
    <div class="event-list">
        {% for event in events %}
            <a href="{% url 'event_detail' event.unique_code %}" class="event-card">
                <h3>{{ event.name }}</h3>
                <p>{{ event.event_date }}</p>
            </a>
        {% empty %}
            <p style="text-align: center; margin-top: 20px;">You have not created any events yet.</p>
        {% endfor %}
    </div>
{% endblock %}